<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Self registration</legend>

        <!-- Prepended text-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fullName">Full name:</label>

            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true"></span>
                    <input id="fullName" name="fullName" class="form-control" placeholder="" type="text" required="">
                </div>

            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email:</label>

            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <input id="email" name="email" class="form-control" placeholder="" type="text" required="">
                </div>

            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password:</label>

            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-keys" aria-hidden="true"></span>
                    <input id="password" name="password" class="form-control" placeholder="" type="password"
                           required="">
                </div>

            </div>
        </div>

        <!-- Prepended text-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordRepeat">Repeat password</label>

            <div class="col-md-8">
                <div class="input-group glyphicon glyphicon-keys" aria-hidden="true">
                    <span class="input-group-addon"></span>
                    <input id="passwordRepeat" name="passwordRepeat" class="form-control" placeholder="" type="password"
                           required="">
                </div>

            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="buttonRegister"></label>

            <div class="col-md-8">
                <button id="buttonRegister" name="buttonRegister" class="btn btn-success">Register</button>
                <button id="buttonCancel" name="buttonCancel" class="btn btn-danger">Cancel</button>
            </div>
        </div>

    </fieldset>
</form>

</body>
</html>