<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="head"></head>

<body>

<div id="wrapper">
    <nav th:replace="navigation"></nav>
    <!-- Navigation -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Assets management</h1>
            </div>
        </div>
        <div class="row">
            <!--@thymesVar id="allAssets" type="org.springframework.data.domain.Page"-->
            <!--@thymesVar id="allAssets" type="java.util.List"-->
            <section class="col-lg-12" th:if="${#lists.isEmpty(allAssets.content)}">
                <div class="panel panel-default">
                    <!-- Default panel assets -->
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{title.asset.list}">List of</h3>
                    </div>
                    <div class="panel-body" th:text="#{asset.none}">No assets found</div>
                </div>
            </section>
            <section class="col-lg-12" th:unless="${#lists.isEmpty(allAssets.content)}">
                <div class="panel panel-default">
                    <!-- Default panel assets -->
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{title.asset.list}">List of</h3>
                    </div>

                    <div class="panel-body table-responsive">
                        <!--@thymesVar id="aAsset" type="sparkle.cms.domain.CmsAsset"-->
                        <div class="col-lg-3 cols-sm-6 " th:each="aAsset : ${allAssets}">
                            <div class="thumbnail">
                                <!--<img th:if="${aAsset.type.name == 'IMAGE'}" src="#" th:src="${aAsset.uri}"
                                 class="img-responsive img-thumbnail" th:alt-title="${aAsset.title}"
                                 th:alt="${aAsset.title}"/>-->
                                <i th:if="${aAsset.type.name == 'IMAGE'}" class="fa fa-file-image-o fa-5x"
                                   style="color: navy;"></i>
                                <i th:if="${aAsset.type.name == 'DOCUMENT'}" class="fa fa-file-word-o fa-5x"
                                   style="color: navy;"></i>
                                <i th:if="${aAsset.type.name == 'SPREADSHEET'}" class="fa fa-file-excel-o fa-5x"
                                   style="color: green;"></i>
                                <i th:if="${aAsset.type.name == 'PRESENTATION'}" class="fa fa-file-powerpoint-o fa-5x"
                                   style="color: orangered;"></i>
                                <i th:if="${aAsset.type.name == 'PDF'}" class="fa fa-file-pdf-o fa-5x"
                                   style="color: red;"></i>
                                <i th:if="${aAsset.type.name == 'TEXT'}" class="fa fa-file-text-o fa-5x"
                                   style="color: gray;"></i>
                                <i th:if="${aAsset.type.name == 'VIDEO'}" class="fa fa-file-video-o fa-5x"
                                   style="color: black;"></i>
                                <i th:if="${aAsset.type.name == 'AUDIO'}" class="fa fa-file-sound-o fa-5x"
                                   style="color: black;"></i>
                                <i th:if="${aAsset.type.name == 'ZIP'}" class="fa fa-file-archive-o fa-5x"
                                   style="color: orange;"></i>
                                <i th:if="${aAsset.type.name == 'BINARY'}" class="fa fa-file-o fa-5x"
                                   style="color: black;"></i>

                                <div class="caption">
                                    <h3 th:text="${aAsset.title}">Title</h3>

                                    <p th:text="${aAsset.name}">Name</p>

                                    <p th:text="${#dates.format(aAsset.modificationDate, 'yyyy-MM-dd')+'T'+ #dates.format(aAsset.modificationDate, 'HH:mm:ssZ')}">
                                        Date</p>

                                    <form class="form-inline" role="form" th:action="@{${'/assets/'+aAsset.id}}"
                                          action="#" method="POST">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <button type="submit" class="btn btn-danger btn-xs" value="delete"
                                                data-toggle="tooltip" data-placement="top" title="Delete"><span
                                                class="glyphicon glyphicon-trash"></span></button>
                                        <a th:href="@{${'/assets/download/'+aAsset.uri}}"
                                           class="btn btn-warning btn-xs"
                                           data-toggle="tooltip" data-placement="top" title="Download"><span
                                                class="glyphicon glyphicon-download"></span></a>
                                        <a th:attr="data-uri=@{${'/assets/preview/'+aAsset.uri}}"
                                           class="btn btn-success btn-xs" data-target="#imageModal"
                                           data-toggle="modal" data-placement="top" title="Preview"
                                           th:if="${(aAsset.type.name == 'IMAGE')}"><span
                                                class="glyphicon glyphicon-search"></span></a>
                                        <a th:attr="data-uri=@{${'/assets/preview/'+aAsset.uri}}"
                                           class="btn btn-success btn-xs" data-target="#videoModal"
                                           data-toggle="modal" data-placement="top" title="Preview"
                                           th:if="${(aAsset.type.name == 'VIDEO')}"><span
                                                class="glyphicon glyphicon-search"></span></a>
                                        <a th:attr="data-uri=@{${'/assets/preview/'+aAsset.uri}}"
                                           class="btn btn-success btn-xs" data-target="#audioModal"
                                           data-toggle="modal" data-placement="top" title="Preview"
                                           th:if="${(aAsset.type.name == 'AUDIO')}"><span
                                                class="glyphicon glyphicon-search"></span></a>
                                        <a th:attr="data-uri=@{${'/assets/preview/'+aAsset.uri}}"
                                           class="btn btn-success btn-xs" data-target="#pdfModal"
                                           data-toggle="modal" data-placement="top" title="Preview"
                                           th:if="${(aAsset.type.name == 'PDF')}"><span
                                                class="glyphicon glyphicon-search"></span></a>
                                        <a th:attr="data-uri=@{${'/assets/preview/'+aAsset.uri}}"
                                           class="btn btn-success btn-xs" data-target="#textModal"
                                           data-toggle="modal" data-placement="top" title="Preview"
                                           th:if="${(aAsset.type.name == 'TEXT')}"><span
                                                class="glyphicon glyphicon-search"></span></a>
                                        <a th:href="@{${'/ViewerJS/index.html#../assets/preview/'+aAsset.uri}}"
                                           class="btn btn-success btn-xs" target="_blank"
                                           data-toggle="tooltip" data-placement="top" title="Preview (Opens in a new Window)"
                                           th:if="${(aAsset.type.name == 'DOCUMENT') || (aAsset.type.name == 'PRESENTATION') || (aAsset.type.name == 'SPREADSHEET')}"><span
                                                class="glyphicon glyphicon-search"></span></a>
                                    </form>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="panel-footer text-right">
                        <ul class="pagination" style="margin:0 10px">
                            <li th:class="${allAssets.number eq 0} ? 'disabled' : ''">
                                <a th:href="@{${(not allAssets.first)?'assets':'#'}(page=${allAssets.number-1},pageSize=${allAssets.size})}">&laquo;</a>
                            </li>

                            <li th:each="pageNo : ${#numbers.sequence(0, allAssets.totalPages - 1)}"
                                th:class="${allAssets.number eq pageNo}? 'active' : ''">
                                <a th:if="${allAssets.number  eq pageNo}" href="javascript:void(0);"
                                   th:text="${pageNo + 1}">
                                    1
                                </a>
                                <a th:if="${not (allAssets.number  eq pageNo)}"
                                   th:href="@{${'assets'}(page=${pageNo},pageSize=${allAssets.size})}"
                                   th:text="${pageNo + 1}">
                                    1
                                </a>

                            </li>
                            <li th:class="${allAssets.number + 1 ge allAssets.totalPages} ? 'disabled' : ''">
                                <a th:href="@{${(not allAssets.last)?'assets':'#'}(page=${allAssets.number+1},pageSize=${allAssets.size})}">&raquo;</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </section>
            <section class="col-lg-12">
                <form class="form-horizontal" enctype="multipart/form-data" role="form" th:action="@{/assets}"
                      th:object="${assetData}"
                      action="#"
                      method="POST">
                    <input type="hidden" name="siteId" th:value="${allSites[0].id}"
                           th:if="${allSites.size() == 1}"/>


                    <div class="lead" th:text="#{asset.data}">Asset Data</div>

                    <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <div class="form-group" th:if="${allSites.size() > 1}">
                        <label for="siteId" class="col-sm-2 control-label" th:text="#{asset.site}">Site</label>

                        <div class="col-sm-10">
                            <select type="text" class="form-control" id="siteId" name="siteId"
                                    th:errorclass="has-error" required="required">
                                <!--@thymesVar id="aSite" type="sparkle.cms.domain.CmsSite"-->
                                <option th:each="aSite : ${allSites}"
                                        th:value="${aSite.id}"
                                        th:text="${aSite.name + ' [' + aSite.address + ']'}"
                                        th:selected="${(assetData.siteId != null) and (assetData.siteId == aSite.id)}">
                                    Site
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="assetType" class="col-sm-2 control-label" th:text="#{asset.type}">Asset Type</label>

                        <div class="col-sm-10">
                        	<select id="assetType" class="form-control" th:field="*{type}">
                                <option th:each="var : ${allAssetTypes}" th:value="${var}"
                                        th:text="#{${'asset.type.'+var}}">Asset Type
                                </option>
                            </select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label" th:text="#{asset.title}">Title</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" th:field="*{title}"
                                   th:errorclass="has-error"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label"
                               th:text="#{asset.name}">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" th:field="*{name}"
                                   th:errorclass="has-error"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label"
                               th:text="#{asset.file}">File</label>

                        <div class="col-sm-10">
                            <input type="file" name="uploadFile" class="form-control file" data-preview-file-type="any"
                                   data-show-upload="false" id="upload_file" accept="*"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button th:if="${mode == 'add'}" type="submit" class="btn btn-default"
                                    th:text="#{asset.create}">Add Asset
                            </button>
                            <button type="reset" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <footer th:replace="footer"></footer>
    </div>

</div>

<!-- jQuery -->
<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"
        src="https://code.jquery.com/jquery-2.1.1.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.js}" src="../public/dist/js/sb-admin-2.js"></script>
<script th:src="@{/dist/js/fileinput.min.js}" src="../public/dist/js/fileinput.js" type="text/javascript"></script>

<script>
    //bind the on-change event
    $(document).ready(function () {
        $("#upload_file").fileinput();
    });
</script>
<script th:src="@{/video-js/video.js}"  src="../public/video-js/video.dev.js"></script>
<script>
    /* <![CDATA[ */
    videojs.options.flash.swf = "/video-js/video-js.swf";
    /* ]]> */
</script>
<script th:src="@{/audio-js/audio.js}"  src="../public/audio-js/audio.js"></script>
<div th:replace="modals"></div>

</body>

</html>
