<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="head"></head>

<body>

<div id="wrapper">
    <nav th:replace="navigation"></nav>
    <!-- Navigation -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Comments management</h1>
            </div>
        </div>
        <div class="row">
            <!--@thymesVar id="allComments" type="org.springframework.data.domain.Page"-->
            <!--@thymesVar id="allComments" type="java.util.List"-->
            <section class="col-lg-12" th:if="${#lists.isEmpty(allComments.content)}">
                <div class="panel panel-default">
                    <!-- Default panel comments -->
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{title.comment.list}">List of</h3>
                    </div>
                    <div class="panel-body" th:text="#{comment.none}">No comments found</div>
                </div>
            </section>
            <section class="col-lg-12" th:unless="${#lists.isEmpty(allComments.content)}">
                <div class="panel panel-default">
                    <!-- Default panel comments -->
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{title.comment.list}">List of</h3>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead>
                            <tr>
                                <th th:text="#{comment.title}">Title</th>
                                <th th:text="#{comment.date}">Date</th>
                                <th th:text="#{comment.viewer}">Viewer</th>
                                <th th:text="#{comment.content}">Content</th>
                                <th colspan="2"><i class="fa fa-cogs"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--@thymesVar id="aComment" type="sparkle.cms.domain.CmsComment"-->
                            <tr th:each="aComment : ${allComments}" valign="middle">
                                <td th:text="${aComment.title}">Name</td>
                                <td th:text="${aComment.timestamp}">Date</td>
                                <td th:text="${aComment.viewer.name}">Viewer</td>
                                <td>
                                        <span th:each="id,name : ${allContents}" th:text="${name}"
                                              th:if="${id == aComment.contentId}">Comment</span>

                                </td>
                                <td th:if="${!aComment.approved}">
                                    <form class="form-inline" role="form" th:action="@{${'/comments/approve/'+aComment.id}}"
                                          action="#" method="GET">
                                        <button type="submit" class="btn btn-warning btn-xs" data-toggle="tooltip"
                                                data-placement="top" title="Approve"><span
                                                class="glyphicon glyphicon-export"></span></button>
                                    </form>
                                </td>
                                <td th:if="${aComment.approved}">
                                    <form class="form-inline" role="form" th:action="@{${'/comments/disapprove/'+aComment.id}}"
                                          action="#" method="GET">
                                        <button type="submit" class="btn btn-warning btn-xs" data-toggle="tooltip"
                                                data-placement="top" title="Disapprove"><span
                                                class="glyphicon glyphicon-import"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <form class="form-inline" role="form" th:action="@{${'/comments/'+aComment.id}}"
                                          action="#" method="POST">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <button type="submit" class="btn btn-danger btn-xs" value="delete"><span
                                                class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer text-right">
                        <ul class="pagination" style="margin:0 10px">
                            <li th:class="${allComments.number eq 0} ? 'disabled' : ''">
                                <a th:href="@{${(not allComments.first)?'comments':'#'}(page=${allComments.number-1},pageSize=${allComments.size})}">&laquo;</a>
                            </li>

                            <li th:each="pageNo : ${#numbers.sequence(0, allComments.totalPages - 1)}"
                                th:class="${allComments.number eq pageNo}? 'active' : ''">
                                <a th:if="${allComments.number  eq pageNo}" href="javascript:void(0);"
                                   th:text="${pageNo + 1}">
                                    1
                                </a>
                                <a th:if="${not (allComments.number  eq pageNo)}"
                                   th:href="@{${'comments'}(page=${pageNo},pageSize=${allComments.size})}"
                                   th:text="${pageNo + 1}">
                                    1
                                </a>

                            </li>
                            <li th:class="${allComments.number + 1 ge allComments.totalPages} ? 'disabled' : ''">
                                <a th:href="@{${(not allComments.last)?'comments':'#'}(page=${allComments.number+1},pageSize=${allComments.size})}">&raquo;</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </section>
            <section class="col-lg-12">
            </section>
        </div>
        <footer th:replace="footer"></footer>
    </div>

</div>

<!-- jQuery -->
<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"
        src="https://code.jquery.com/jquery-2.1.1.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.js}" src="../public/dist/js/sb-admin-2.js"></script>

</body>

</html>
