<div>
    <div class="modal fade" id="imageModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Image Preview</h4>
                </div>
                <div class="modal-body">
                    <img style="display: block; max-width:560px; max-height:560px; width: auto; height: auto;" src=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Video Preview</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="audioModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Audio Preview</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="textModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Text Preview</h4>
                </div>
                <div class="modal-body" style="height: 560px">
                    <iframe class="col-lg-12" style="border: 0; height: 540px" src=""></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        /* <![CDATA[ */
        $('#imageModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var uri = button.data('uri');

            var modal = $(this);
            modal.find('.modal-body img').attr("src", uri);
        });
        $('#textModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var uri = button.data('uri');

            var modal = $(this);
            modal.find('.modal-body iframe').attr("src", uri);
        });
        $('#videoModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var uri = button.data('uri');

            var obj, source;
            var modal = $(this);
            var aDiv = modal.find('.modal-body');

            obj = document.createElement('video');
            $(obj).attr('id', 'video_id');
            $(obj).attr('class', 'video-js vjs-default-skin');
            $(obj).attr('preload', 'auto');

            source = document.createElement('source');
            $(source).attr('src', uri);

            aDiv.append(obj);
            $(obj).append(source);
            var player = videojs("video_id", {
                        controls: true,
                        autoplay: true,
                        width: 560,
                        height: 264,
                        loop: false
                    });
            // change player background color
            player.el().style.backgroundColor = "#ffffff";
        }).on('hide.bs.modal', function (event) {
            _V_("video_id").dispose();
        });
        $('#audioModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var uri = button.data('uri');

            var obj, source;
            var modal = $(this);
            var aDiv = modal.find('.modal-body');

            obj = document.createElement('audio');
            $(obj).attr('id', 'audio_id');
            $(obj).attr('class', 'video-js vjs-default-skin');

            aDiv.append(obj);
            var player = videojs("audio_id",
                    {
                        controls: true,
                        autoplay: false,
                        loop: false,
                        width: 560,
                        height: 264,
                        plugins: {
                            wavesurfer: {
                                src: uri,
                                msDisplayMax: 10,
                                waveColor: "grey",
                                progressColor: "black",
                                cursorColor: "black",
                                hideScrollbar: true
                            }
                        }
                    });
            // change player background color
            player.el().style.backgroundColor = "#efefef";
        }).on('hide.bs.modal', function (event) {
            _V_("audio_id").dispose();
        });
        /* ]]> */
    </script>
</div>