<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="head"></head>

<body>

<div id="wrapper">
    <nav th:replace="navigation"></nav>
    <!-- Navigation -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page management</h1>
            </div>
        </div>
        <div class="row">
            <!--@thymesVar id="allPages" type="org.springframework.data.domain.Page"-->
            <section class="col-lg-12" th:if="${#lists.isEmpty(allPages.content)}">
                <div class="panel panel-default">
                    <!-- Default panel comments -->
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{title.page.list}">List of</h3>
                    </div>
                    <div class="panel-body" th:text="#{page.none}">No comments found</div>
                </div>
            </section>
            <section class="col-lg-12" th:unless="${#lists.isEmpty(allPages.content)}">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{title.page.list}">List of</h3>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead>
                            <tr>
                                <th th:text="#{page.title}">Title</th>
                                <th th:text="#{page.name}">Name</th>
                                <th th:text="#{page.uri}">Uri</th>
                                <th th:if="${allSites.size() > 1}" th:text="#{page.site}">Site</th>
                                <th th:text="#{page.menu}">Menu</th>
                                <th colspan="2"><i class="fa fa-cogs"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--@thymesVar id="aPage" type="sparkle.cms.domain.CmsPage"-->
                            <tr th:each="aPage : ${allPages}" valign="middle">
                                <td th:text="${aPage.title}">Title</td>
                                <td th:text="${aPage.name}">Name</td>
                                <td th:text="${aPage.uri}">Uri</td>
                                <td th:if="${allSites.size() > 1}">
                                        <span th:each="aSite : ${allSites}"
                                              th:text="${aSite.name + ' [' + aSite.address + ']'}"
                                              th:if="${aSite.id == aPage.siteId}">Site</span>
                                </td>
                                <td th:if="${aPage.menu}" class="text-success"><i
                                        class="fa fa-check-square-o fa-lg fa-fw"></i>Show
                                </td>
                                <td th:unless="${aPage.menu}" class="text-danger"><i
                                        class="fa fa-square-o fa-lg fa-fw"></i>Hide
                                </td>
                                <td>
                                    <form class="form-inline" role="form" th:action="@{${'/pages/'+aPage.id}}"
                                          action="#" method="GET">
                                        <button type="submit" class="btn btn-primary btn-xs" value="put"
                                                data-toggle="tooltip" data-placement="top" title="Edit"><span
                                                class="glyphicon glyphicon-edit"></span></button>
                                    </form>
                                </td>
                                <td>
                                    <form class="form-inline" role="form" th:action="@{${'/pages/'+aPage.id}}"
                                          action="#" method="POST">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <button type="submit" class="btn btn-danger btn-xs" value="delete"><span
                                                class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer text-right">
                        <ul class="pagination" style="margin:0 10px">
                            <li th:class="${allPages.number eq 0} ? 'disabled' : ''">
                                <a th:href="@{${(not allPages.first)?'page':'#'}(page=${allPages.number-1},pageSize=${allPages.size})}">&laquo;</a>
                            </li>

                            <li th:each="pageNo : ${#numbers.sequence(0, allPages.totalPages - 1)}"
                                th:class="${allPages.number eq pageNo}? 'active' : ''">
                                <a th:if="${allPages.number  eq pageNo}" href="javascript:void(0);"
                                   th:text="${pageNo + 1}">
                                    1
                                </a>
                                <a th:if="${not (allPages.number  eq pageNo)}"
                                   th:href="@{${'page'}(page=${pageNo},pageSize=${allPages.size})}"
                                   th:text="${pageNo + 1}">
                                    1
                                </a>

                            </li>
                            <li th:class="${allPages.number + 1 ge allPages.totalPages} ? 'disabled' : ''">
                                <a th:href="@{${(not allPages.last)?'page':'#'}(page=${allPages.number+1},pageSize=${allPages.size})}">&raquo;</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </section>
            <section class="col-lg-12">
                <!--@thymesVar id="cmsPage" type="sparkle.cms.domain.CmsPage"-->
                <form class="form-horizontal" role="form" th:action="@{/pages}" th:object="${cmsPage}" action="#"
                      method="POST">

                    <input type="hidden" name="siteId" th:value="${allSites[0].id}"
                           th:if="${allSites.size() == 1}"/>

                    <div class="lead" th:text="#{page.data}">Page Data</div>

                    <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <div th:if="${plugin_available == false}" class="alert alert-danger text-center"
                         role="alert">
                        <a class="btn btn-danger" th:href="@{'/settings'}">No Asset Management plugin active. Go to
                            settings page and fix configuration</a>
                    </div>
                    <div class="form-group" th:if="${allSites.size() > 1}">
                        <label for="siteId" class="col-sm-2 control-label" th:text="#{page.site}">Site</label>

                        <div class="col-sm-10">
                            <select type="text" class="form-control" id="siteId" name="siteId"
                                    th:errorclass="has-error" required="required">
                                <!--@thymesVar id="aSite" type="sparkle.cms.domain.CmsSite"-->
                                <option th:each="aSite : ${allSites}"
                                        th:value="${aSite.id}"
                                        th:text="${aSite.name + ' [' + aSite.address + ']'}"
                                        th:selected="${(cmsPage.siteId != null) and (cmsPage.siteId == aSite.id)}">
                                    Site
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label" th:text="#{page.title}">Title</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" th:field="*{title}"
                                   th:errorclass="has-error" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="menu" class="col-sm-2 control-label" th:text="#{page.menu}">Menu</label>

                        <div class="col-sm-10">
                            <select class="form-control" id="menu"
                                    th:field="*{menu}"
                                    th:errorclass="has-error" required="required">
                                <option value="true" th:selected="${cmsPage.menu == true}">Show</option>
                                <option value="false" th:selected="${cmsPage.menu == false}">Hide</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-default" th:text="#{page.create}">Add Page</button>
                            <button type="reset" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <footer th:replace="footer"></footer>
    </div>

</div>

<!-- jQuery -->
<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}" src="https://code.jquery.com/jquery-2.1.1.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.js}" src="../public/dist/js/sb-admin-2.js"></script>

</body>

</html>
