<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="head"></head>

<body>

    <div id="wrapper">
        <nav th:replace="navigation"></nav>
        <!-- Navigation -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Site management</h1>
                </div>
            </div>
            <div class="row">
                <!--@thymesVar id="allSites" type="org.springframework.data.domain.Page"-->
                <section class="col-lg-12" th:unless="${#lists.isEmpty(allSites)}">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="#{title.site.list}">List of</h3>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th th:text="#{site.name}">Name</th>
                                    <th th:text="#{site.creationDate}">Creation Date</th>
                                    <th th:text="#{site.address}">Address</th>
                                    <th th:text="#{site.workflowType}">Workflow Type</th>
                                    <th><i class="fa fa-cogs"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--@thymesVar id="aSite" type="ms.cms.domain.CmsSite"-->
                                <tr th:each="aSite : ${allSites}" valign="middle">
                                    <td th:text="${aSite.name}">Name</td>
                                    <td th:text="${aSite.creationDate}">Creation Date</td>
                                    <td th:text="${aSite.address}">Address</td>
                                    <td th:text="#{${'site.workflow.'+aSite.workflowType}}">Workflow type</td>
                                    <td>
                                        <form class="form-inline" role="form" th:action="@{${'/site/'+aSite.id}}"
                                              action="#" method="POST">
                                            <input type="hidden" name="_method" value="DELETE"/>
                                            <button type="submit" class="btn btn-danger btn-xs" value="delete"><span
                                                    class="glyphicon glyphicon-trash"></span></button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer text-center">
                            <ul class="pagination" style="margin:0">
                                <li th:class="${allSites.number eq 0} ? 'disabled' : ''">
                                    <a th:if="${not allSites.first}"
                                       th:href="@{${'site'}(page=${allSites.number-1},pageSize=${allSites.size})}">&laquo;</a>
                                </li>

                                <li th:each="pageNo : ${#numbers.sequence(0, allSites.totalPages - 1)}"
                                    th:class="${allSites.number eq pageNo}? 'active' : ''">
                                    <a th:if="${allSites.number  eq pageNo}" href="javascript:void(0);"
                                       th:text="${pageNo + 1}">
                                        1
                                    </a>
                                    <a th:if="${not (allSites.number  eq pageNo)}"
                                       th:href="@{${'site'}(page=${pageNo},pageSize=${allSites.size})}"
                                       th:text="${pageNo + 1}">
                                        1
                                    </a>

                                </li>
                                <li th:class="${allSites.number + 1 ge allSites.totalPages} ? 'disabled' : ''">
                                    <a th:if="${not allSites.last}"
                                       th:href="@{${'site'}(page=${allSites.number+1},pageSize=${allSites.size})}">&raquo;</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </section>
                <section class="col-lg-12">
                    <!--@thymesVar id="cmsSite" type="ms.cms.domain.CmsSite"-->
                    <form class="form-horizontal" role="form" th:action="@{/site}" th:object="${cmsSite}" action="#"
                          method="POST">
                        <div class="lead" th:text="#{site.data}">Site Data</div>

                        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible"
                             role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label" th:text="#{site.name}">Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" th:field="*{name}"
                                       th:errorclass="has-error" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label"
                                   th:text="#{site.address}">Address</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address" th:field="*{address}"
                                       th:errorclass="has-error" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="workflowType" class="col-sm-2 control-label" th:text="#{site.workflowType}">Workflow
                                Type</label>

                            <div class="col-sm-10">
                                <select id="workflowType" class="form-control" th:field="*{workflowType}">
                                    <option th:each="var : ${allWorkflowTypes}" th:value="${var}"
                                            th:text="#{${'site.workflow.'+var}}">Workflow
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-default" th:text="#{site.create}">Add Site</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <footer th:replace="footer"></footer>
        </div>

    </div>

    <!-- jQuery -->
    <script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}" src="../public/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}" src="../public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/dist/js/sb-admin-2.js}" src="../public/dist/js/sb-admin-2.js"></script>

</body>

</html>
